@page "/showdeck"

@using Black_Jack_Blazor.Data.BlackJack
@using System.Threading

<h3>ShowDeck</h3>
    <button class="btn btn-primary" @onclick="shuffle" value="click">Shuffle</button>

@for (int i = 1; i <= 52; i++)
{   
    card = deck.DealCard();
    suit = card.Suit.ToString();
    value = card.CardValue.ToString();
    imageSource = $"images/card{suit}{value}.png";
    <img src="@imageSource" />
}


@code {
    private string? imageSource;
    Card card { get; set; }
    public string suit { get; set; }
    public string value { get; set; }
    Deck deck = new Deck();
    protected override async Task OnInitializedAsync()
    {
        deck.Shuffle();
    }

    public void shuffle()
    {
        
    }
}